<article class="post">
  <div class="title">
    <h2>{{pet.pet_name}}</h2>
  </div>
  <div class="meta">
    Species: {{pet.species}}
  </div>
  <div class="meta">
    Breed: {{pet.breed}}
  </div>
  <div class="meta">
    Rabies vaccine: {{pet.rabies_vaccination}}
  </div>
  <div class="meta">

    Owner's name: {{pet.owner.owner_name}}
  </div>
  <div class="meta">
    Owner's email: {{pet.owner.email}}
  </div>
  <div class="meta">
    Owner's phone number: {{pet.owner.phone_num}}
  </div>
  <div class="comments">

    <section class="comment">
      <div class="meta">
        Technician comments:
        {{#each pet.comments}}
        <div>{{comment_text}}</div>
        <div>Posted at: {{ created_at }} </div>
        <div> {{ pet.comments.tech_name }}</div>

        {{/each}}
      </div>
    </section>

  </div>
</article>

<form class="comment-form">
  <div>
    <textarea name="comment-body"></textarea>
  </div>
  <input type="hidden" id="tech_id" name="tech_id" value="{{ tech_id }}">
  <div>
    <button type="submit">add comment</button>
  </div>
</form>

{{!-- <div class="comments">

  <section class="comment">
    <div class="meta">
      previous tech's comments:
      {{#each pet.comments}}
      <div>{{comment_text}}
      </div>

      {{/each}}
    </div>
  </section>

</div> --}}
<script src="/javascript/comment.js"></script>